*, *::after, *::before{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3F3F3F;
}

th, td, tr, table{
    border: 1px black solid;
    border-spacing: 0;
    text-align: center;
}

th, td, tr{
    padding: 0.5rem 0.1rem;
}

input {
    background-color: #3F3F3F;
}